{% extends "base.html" %}
{% block title %}
	ESTIM9 - Login
{% endblock %}

{% block navbar-right %}
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="span4 offset4">
		  	<div class="well">
		    	<legend>Welcome, please log in:</legend>
		      <form method="POST" action="" accept-charset="UTF-8">
						{% csrf_token %}
						{% for field in login_form %}
							{{ field }}
						{% endfor %}
		        <br>
						<button class="btn-info btn" type="submit">Login</button>      
					</form>    
				</div>
			</div>
		</div>
	</div>
{% endblock %}


	<div class="alert alert-error">
  	<a class="close" data-dismiss="alert" href="#">x</a>Incorrect Username or Password!
  </div>