<!DOCTYPE html>
{% load static from staticfiles %}
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css href" href="{% static "css/bootstrap.css" %}" />
		<style>
			body {
				padding-top: 60px;
			}
		</style>
		<link rel="stylesheet" type="text/css href" href="{% static "css/bootstrap-responsive.css" %}" />
		<title>{% block title %}ESTIM9 - Estimating Evolved{% endblock %}</title>
	</head>
	
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
		  	<div class="container">
          <div class="nav-collapse collapse">
						{% block navbar_left %}
						{% endblock %}
						<div class="pull-right">
							{% block navbar_right %}
								<ul class="nav">
									<li>
										{% if user.is_authenticated %}
											<a href="/account/profile">{{ user.username }}</a>
										{% else %}
											<a href="/account/login">Login</a>
										{% endif %}
									</li>
								</ul>
							{% endblock %}
							{% block brand %}
								<a class="brand" href="/"><strong>ESTIM9</strong></a>
							{% endblock %}
						</div><!--pull right-->
					</div><!--navbar collapse-->
				</div><!--container-->
			</div><!--navbar inner-->
		</div><!--navbar-->


	{% block content %}
	{% endblock %}
	</body>
</html>