<!DOCTYPE html>
{% load static from staticfiles %}
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css href" href="{% static "css/bootstrap.css" %}" />
		<style>
			body {
				padding-top: 60px;
			}
		</style>
		<link rel="stylesheet" type="text/css href" href="{% static "css/bootstrap-responsive.css" %}" />
		<title>{% block title %}ESTIM9 - Estimating Evolved{% endblock %}</title>
	</head>
	
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
		  	<div class="container">
          <div class="nav-collapse collapse">
          	<ul class="nav">
		        	<li class="">
		          	<a href="#">One</a>
							</li>
							<li class="">
		          	<a href="#">Two</a>
							</li>
							<li class="">
		          	<a href="#">Three</a>
							</li>
							<li class="">
		          	<a href="#">Four</a>
							</li>
		        </ul>
						<div class="pull-right">
									<ul class="nav">
										<li><a href="#">Login</a></li>
									</ul>
							<a class="brand" href="./index.html"><strong>ESTIM9</strong></a>
						</div>
					</div><!--navbar collapse-->
				</div><!--container-->
			</div><!--navbar inner-->
		</div><!--navbar-->


	{% block content %}
	{% endblock %}
	</body>
</html>