<!DOCTYPE html>
{% load static from staticfiles %}
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css href" href="{% static "css/bootstrap.css" %}" />
		<style>
			body {
				padding-top: 50px;
			}
			.alert{
				margin-bottom: 10px;
			}
		</style>
		<link rel="stylesheet" type="text/css href" href="{% static "css/bootstrap-responsive.css" %}" />
		<script src="{% static "js/jquery-1.10.1.js" %}"></script>
		<script src="{% static "js/bootstrap.js" %}"></script>
		<title>{% block title %}ESTIM9 - Estimating Evolved{% endblock %}</title>
	</head>
	
	<body>
		
		{% block menubar %}
			{% include "snippets/menubar.html" %}
		{% endblock %}
		
		<div class="container">
			{% block breadcrumbs %}
				{% include "snippets/breadcrumbs.html" %}
			{% endblock %}
			
			{% block messages %}
				{% include "snippets/messages.html" %}
			{% endblock %}
			
			{% block content %}
			{% endblock %}
		</div><!--container-->
	</body>
</html>