{% extends "base.html" %}
{% block title %}
ESTIM9 - Graph - {{ graph_name}}
{% endblock %}

{% block content %}
	<div class="row">
		<div class="span12">
			<p>This graph is called {{ graph_name }}.</p>
		</div><!--span12-->
	</div><!--row-->
	<div class="row">
		<div class="span6">
			{% if nodes %}
				<p>It has nodes:
					<ul>
						{% for n in nodes %}
							<li> {{ n }} </li>
						{% endfor %}
					</ul>	
				</p> 
			{% endif %}
		</div><!--span6-->
		<div class-"span6 offset6">
			{% if edges %}
				<p>It has edges:
					<ul>
						{% for e in edges %}
							<li> {{ e }} </li>
						{% endfor %}
						</ul>	
					</p> 
				{% endif %}
		</div><!--span6 offset6-->
	</div><!--row-->
	<div class="row">
		<div class="span12">
			{% if svg %}
				<p>It looks like this:</p>
				<p>{{ svg|safe }}</p>
			{% endif %}
		</div><!--span12-->
	</div><!--row-->
{% endblock %}