{% extends "base.html" %}
{% block title %}
	ESTIM9 - Estimating Evolved
{% endblock %}

{% block content %}
	<div class="container">
		<div class="hero-unit">
				<h1>Welcome to ESTIM9.</h1>
				<p>ESTIM9 is an integrated pre-production tool for custom fabrication work.  Design a process, determine input requirements, manage supplier quotes, plan execution and more, all in one easy-to-use webapp!</p>
				<p>
					<a class="btn btn-primary btn-large" href="/learn">
						Learn more
					</a>
				</p>
			</div><!--hero-unit-->	
	</div><!--container-->
{% endblock %}