{% extends "base.html" %}
{% block title %}
	ESTIM9 - Login
{% endblock %}

{% block navbar-right %}
{% endblock %}

{% block content %}
	<div class="row">
		<div class="span4 offset4">
	  	<div class="well">
	    	<legend>Login:</legend>
				{% if login_form.errors %}
					<ul class="text-error">
						{% for field in login_form %}
							{% for error in field.errors %}
								<li>{{ field.name|capfirst }}: {{ error }}</li>
							{% endfor %}
						{% endfor %}
					</ul>
				{% endif %}
				{% if errors %}
					<ul class="text-error">
						{% for error in errors %}
							<li>{{ error }}</li>
						{% endfor %}
					</ul>
				{% endif %}
	      <form method="POST" action="" accept-charset="UTF-8">
					{% csrf_token %}
					{% for field in login_form %}
						{{ field }}
					{% endfor %}
					<input type="hidden" name="next" value="{{next}}">
	        <br>
					<button class="btn-info btn" type="submit">Login</button>      
				</form>    
			</div>
		</div>
	</div>
{% endblock %}