{% extends "base.html" %}
{% block title %}
	ESTIM9 - Login
{% endblock %}

{% block navbar-right %}
{% endblock %}

{% block content %}
	<div class="row">
		<div class="span4 offset4">
	  	<div class="well">
	    	<legend>Login:</legend>
	      <form method="POST" action="" accept-charset="UTF-8">
					{% csrf_token %}
					{% for field in login_form %}
						{{ field }}
					{% endfor %}
					<input type="hidden" name="next" value="{{next}}">
	        <br>
					<button class="btn btn-primary" type="submit">Login</button>      
				</form>    
			</div>
		</div>
	</div>
{% endblock %}